<div class="modal-header d-flex justify-content-center border-0">
  <h4 class="modal-title pull-left"> Editar Serviço</h4>

  <!-- : {{servico.nomeArgument}} -->

  <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body d-flex flex-column">


  <form [formGroup]="formServico" (ngSubmit)="openConfirmAlter(confirmAlter)" >
    <div class="form-group" >
      <label for="nomeServico"> Nome do Serviço: </label>
      <input
       type="text" class="form-control form-control-sm"
          id="nomeServico" formControlName="nomeServico">
    </div>

    <div class="form-group" >
      <label for="statusServico"> Status: </label>
      <select id="statusServico" formControlName="statusServico" class="form-control form-select form-select-sm">
          <option value="true" > Ativo </option >
            <option value="false" > Inativo </option >
      </select>
    </div>

    <div class="form-group" >
      <label for="tags"> Tags: </label>
      <!-- <select id="tags" formControlName="tags"  class="form-control form-select form-select-sm" *ngFor="let tag of servico.tags" >
        <option value="tag" > {{tag}} </option >
      </select> -->
      <mat-form-field class="mat-form-field example-chip-list border rounded" appearance="none">
    <!-- <mat-label>Favorite Fruits</mat-label> -->
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let fruit of fruits"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(fruit)">
        {{fruit}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New fruit..."
        #fruitInput
        [formControl]="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

    </div>
    <div class="form-group" >
      <label for="periodicidade"> Periodicidade: </label>
      <input
       type="text" class="form-control form-control-sm"
        id="periodicidade"  formControlName="periodicidade">
    </div>

    <div class="form-group" >
      <label for="descricao"> Descrição: </label>
      <textarea class="form-control form-control-sm"  id="descricao"  formControlName="descricao" rows="2"></textarea>
    </div>

    <button  class="btn-sm btn-primary">Salvar</button>

  </form>
</div>

<ng-template #confirmAlter >
  <div class="modal-header header">
    <h4 class="modal-title pull-left"> Deseja mesmo alterar esse serviço?</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="width: 100%;">
    <tr class="d-flex justify-content-around">
      <td>
        <button type="button" class="btn btn-success" (click)="SalvaAlteracoes()" ><i>Sim</i></button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()"><i>Não</i></button>
      </td>
    </tr>
  </div>
</ng-template>
