<div class="d-flex" style="height: 100%">
  <div class="py-2" style="width: 100%; height: 100%">
    <div class="container">
      <button
        type="button"
        style="margin-top: 2%"
        (click)="servicosRodando()"
        class="btn btn-secondary"
      >
        Serviços Rodando
      </button>

    </div>
    <div class="container" style="margin-top: 3%">
      <table class="table table-sm table-dark">
        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <!-- <th scope="col">Periodicidade</th>
              <th scope="col">Descrição</th> -->
                <th scope="col">Status</th>
                <th scope="col" style="width: 15%" class="text-center">
                  <a>Ultima Execução</a>
                </th>
                <th scope="col" style="width: 13%" class="text-center">
                  <a>Logs de Erro</a>
                </th>
                <th scope="col" style="width: 15%" class="text-center">
                  <a>Logs de Execução</a>
                </th>
                <th scope="col" class="text-center"><a>Configurações</a></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of servicosShare">
                <td>{{ item.nomeArgument }}</td>
                <td>
                  <span
                    class="badge badge-success badge-primary"
                    *ngIf="item.ativo == true"
                    >Ativo</span
                  >
                  <span class="badge badge-danger" *ngIf="item.ativo == false"
                    >Inativo</span
                  >
                </td>
                <td class="text-center">{{ item.dataInicio }}</td>
                <td class="text-center">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="logsErroServicoOnClick(item)"
                  >
                    <i
                      >Visualizar
                      <span class="badge badge-light" style="color: black">{{
                        item.quantidadeErros
                      }}</span></i
                    >
                  </button>
                </td>
                <td class="text-center">
                  <button
                    type="button"
                    class="btn btn-info"
                    (click)="logsExecucaoServicoOnClick(item)"
                  >
                    <i>Execuções</i>
                  </button>
                </td>
                <td class="text-center">
                  <button
                    class="btn btn-outline-dark"
                    (click)="configuracoesOnClick(item)"
                  >
                    <i class="fas fa-cog"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </table>
    </div>
  </div>

  <div data-bs-toggle="tooltip" title="Disabled tooltip">
    <span
      class="d-inline-block"
      tabindex="0"
      data-bs-toggle="tooltip"
      title="Disabled tooltip"
    >
      <button
        type="button"
        class="btn-circle fas fa-search"
        (click)="abreFiltroOnClick()"
        tooltip=" Filtrar Serviços "
      ></button>
    </span>
  </div>

  <div
    class="py-2"
    [ngClass]="{ filterSize20: abreFiltro, filterSize0: !abreFiltro }"
    [style.visibility]="abreFiltro ? 'visible' : 'hidden'"
  >
    <div class="container-fluid">
      <div class="row">
        <form [formGroup]="filtroServico" class="form" (ngSubmit)="filtra()" >
          <div class="col-12 form-group" class="form-group">
            <label>Nome do Serviço</label>
            <input
              type="text"
              class="form-control"
              formControlName="nomeArgument"
              placeholder="Ex: AtualizaAndamentosBigData"
            />
          </div>

          <div class="col-12 " class="form-group">
            <label> Status do Serviço </label>
            <select
              id="statusServico"
              class="form-control"
              formControlName="statusServico"
            >
              <option value="" selected>Ambos</option>
              <option value="ativo" selected>Ativo</option>
              <option value="inativo">Inativo</option>
            </select>
          </div>

          <div class="col-12" class="form-group">
            <label> Erros </label>
            <select id="statusErro" class="form-control" formControlName="erro">
              <option value="" selected>Ambos</option>
              <option value="sim">Sim</option>
              <option value="nao">Não</option>
            </select>
          </div>

          <div class="col-12" class="form-group">
            <button type="submit" class="btn btn-dark"  >Buscar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
