  <div class="container-fluid">
      <div class="modal-content border-0" >
        <div class="modal-header shadow-sm">
          <h4 class="modal-title pull-left"> {{servico.nomeArgument}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <button type="button"  class="btn btn-outline-secondary  btn-sm"  style="margin-bottom: 20px;"
          (click)="openConfirmResolv(confirmResolvAll, logsErro[0])" >
            Resolver todos
          </button>
          <div class="table-responsive">
            <table class="table align-middle">
              <thead>
                <tr>
                  <th scope="col">Messagem</th>
                  <th scope="col" style="width: 18%;" class="text-center">Data do Erro</th>
                  <th scope="col" class="text-center">Quantidade</th>
                  <th scope="col" class="text-center">Resolvido</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of logsErro">
                  <td>{{ item.message}}</td>
                  <td class="text-center">{{ item.dataErro}}</td>
                  <td class="text-center">{{ item.quantidade}}</td>
                  <td class="text-center">
                    <img style="width: 25px" *ngIf="item.resolvido == true" src="assets/img/green_check.png" />
                    <button type="button" (click)="openConfirmResolv(confirmResolv, item)" *ngIf="item.resolvido == false" class="btn btn-danger btn-sm">Resolver </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination justify-content-center">
            <pagination [hidden]=showPag [maxSize]=7 [totalItems]="collectionSize" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>
    </div>

  <ng-template #confirmResolv >
    <div class="modal-header header">
      <h4 class="modal-title pull-left"> Deseja solucionar este erro?</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="width: 100%;">
      <tr class="d-flex justify-content-around">
        <td>
          <button type="button" class="btn btn-success" (click)="solucionarErro()" ><i>Sim</i></button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()"><i>Não</i></button>
        </td>
      </tr>
    </div>
  </ng-template>

  <ng-template #confirmResolvAll >
    <div class="modal-header header">
      <h4 class="modal-title pull-left"> Deseja solucionar todos os erros?</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="width: 100%;">
      <tr class="d-flex justify-content-around">
        <td>
          <button type="button" class="btn btn-success" (click)="solucionarTodosErros()" ><i>Sim</i></button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()"><i>Não</i></button>
        </td>
      </tr>
    </div>
  </ng-template>
