

<mat-sidenav-container  class="mat-sidenav-container">
  <mat-sidenav  mode="side" opened class="menu" >
    <h5 class="fw-bold px-2">Serviços Disponíveis </h5>
  <!-- <div>
    <input type="text"  class="form-control form-control-sm" placeholder="Nome da tag" />
   </div> -->
   <div class="form-row px-1 tags">
    <div  class="form-group col-11">
      <input type="text"  class="form-control form-control-sm" placeholder="Nome da tag" />
    </div>

    <div  class="form-group col-12">

    </div>
   </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="d-flex flex-column" style="height: 100%; margin-top: 3%;" >
      <div class="container-fluid" >
        <div class="card shadow-sm mb-3">
          <div class="card-body">
            <form [formGroup]="filtroServico" class="form" (ngSubmit)="filtra()" >
              <div  class="form-group row">
                <div class="col-md-4 mb-4">
                  <label>Nome do Serviço</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="nomeArgument"
                    placeholder="Ex: AtualizaAndamentosBigData"
                  />
                </div>

                <div class="col-md-4 mb-4">
                  <label> Status do Serviço </label>
                  <select
                    id="statusServico"
                    class="form-control"
                    formControlName="statusServico"
                  >
                    <option value="" selected>Ambos</option>
                    <option value="ativo" selected>Ativo</option>
                    <option value="inativo">Inativo</option>
                  </select>
                </div>

                <div class="col-md-4 mb-4">
                  <label> Erros </label>
                  <select id="statusErro" class="form-control" formControlName="erro">
                    <option value="" selected>Ambos</option>
                    <option value="sim">Sim</option>
                    <option value="nao">Não</option>
                  </select>
                </div>
              </div>

              <!-- <div class="row" ></div> -->
              <div class="d-flex justify-content-end">
                <button type="submit" style="margin: 1%; width: 200px;" class="btn btn-info"> Buscar </button>

                <button type="button" style="margin: 1%; width: 200px;" (click)="servicosRodando()" class="btn btn-secondary" >
                  Serviços Rodando
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="card shadow-sm">
          <div class="card-body">
              <div class="table-responsive">
                <table class="table align-middle">
                  <thead>
                    <tr>
                      <th scope="col">Nome</th>
                      <!-- <th scope="col">Periodicidade</th>
                    <th scope="col">Descrição</th> -->
                      <th scope="col">Status</th>
                      <th scope="col" style="width: 15%" class="text-center">
                        <a>Dt. Ultima Execução</a>
                      </th>
                      <th scope="col" style="width: 15%" class="text-center">
                        <a>Execuções</a>
                      </th>
                      <th scope="col" style="width: 13%" class="text-center">
                        <a>Erros</a>
                      </th>
                      <th scope="col" class="text-center"><a>Configurações</a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of servicosShare">
                      <td>{{ item.nomeArgument }}</td>
                      <td>
                        <span
                          class="badge badge-success badge-primary"
                          *ngIf="item.ativo == true"
                          >Ativo</span
                        >
                        <span class="badge badge-danger" *ngIf="item.ativo == false"
                          >Inativo</span
                        >
                      </td>
                      <td class="text-center">{{ item.dataInicio }}</td>
                      <td class="text-center">
                        <button
                          type="button"
                          class="btn btn-info btn-sm"
                          (click)="logsExecucaoServicoOnClick(item)"
                        >
                          <i>Execuções</i>
                        </button>
                      </td>
                      <td class="text-center">
                        <span style="color: #28a745; font-size: 25px;"  *ngIf="item.erro === false" class="material-icons">check_circle</span>
                        <button
                          *ngIf="item.erro === true"
                          type="button"
                          class="btn btn-danger btn-sm"
                          (click)="logsErroServicoOnClick(item)"
                        >
                          <i
                            >Visualizar
                            <span class="badge badge-light" style="color: black">{{
                              item.quantidadeErros
                            }}</span></i
                          >
                        </button>
                      </td>
                      <td class="text-center">
                        <button
                          class="btn btn-outline-dark"
                          (click)="configuracoesOnClick(item)"
                        >
                          <i class="fas fa-cog"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
