

<mat-sidenav-container  class="mat-sidenav-container">
  <mat-sidenav fixedInViewport="true"  mode="side" opened class="menu" >
   <div class="form-row px-1 tags mx-2 mt-4">
    <h5 class="fw-bold px-2">Serviços Disponíveis</h5>
    <div  class="form-group col-11">
      <input type="text"  class="form-control form-control-sm" placeholder="Nome da tag" />
    </div>
    <div *ngFor="let tag of tagList"  class="d-grid col-11 ">
      <button type="button" class="btn btn-outline-secondary btn-sm mb-2 text-left rounded-pill">{{tag}}</button>
    </div>
   </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid">
      <div class="card shadow-sm mt-2 mb-3">
        <div class="card-body">
          <p class="fw-bold fs-4">Busca rápida de serviços</p>
          <form [formGroup]="filtroServico" class="form-row g-3" (ngSubmit)="filtra()" >
            <div class="col-auto col-4" >
              <label>Nome do Serviço</label>
              <input type="text" class="form-control form-control-sm" formControlName="nomeArgument" placeholder="Ex: AtualizaAndamentosBigData" />
            </div>
            <div class="col-auto col-2">
              <label> Status </label>
              <select class="form-select form-select-sm" formControlName="statusServico">
                <option value="" selected>Ambos</option>
                <option value="ativo" selected>Ativo</option>
                <option value="inativo">Inativo</option>
              </select>
            </div>
            <div class="col-auto col-2">
              <label> Erros </label>
              <select id="statusErro" class="form-select form-select-sm" formControlName="erro">
                <option value="" selected>Ambos</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
              </select>
            </div>
            <div class="col-auto">
              <div class="form-check form-switch" style="padding-top: 33px;">
                <input class="form-check-input" type="checkbox" (click)="servicosRodando()">
                <label class="form-check-label">Serviços Rodando</label>
              </div>
            </div>
            <div class="col-auto col-2" style="padding-top: 30px;">
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-sm btn-primary" > Buscar </button>
              </div>
            </div>
          </form>
        </div>
      </div>
        <div class="row" >
          <div class="col-md-4" *ngFor="let servico of servicosShare">
            <div class="card mb-3 shadow-sm">
              <div class="card-body">
                <div class="card-title row">
                  <h6 class=" fw-bold col-sm-10 text-truncate" tooltip="{{servico.nomeArgument}}" placement="top" [adaptivePosition]="true" [delay]="500">
                    {{ servico.nomeArgument }}
                  </h6>
                  <div class="col-auto px-1">
                    <span class="badge badge-success rounded-pill" *ngIf="servico.ativo == true">Ativo</span>
                    <span class="badge badge-danger rounded-pill" *ngIf="servico.ativo == false">Inativo</span>
                  </div>
                </div>

                <div class="row px-2">
                  <span class="col col-sm-auto badge badge-secondary mr-1 mb-1"  *ngFor="let tag of servico.tags" >
                    {{ tag }}
                  </span>
                </div>

                <small class="form-label fw-bold"> Descrição</small>
                <p  class="form-label fw-lighter lh-sm text-truncate"
                 tooltip="{{servico.descricao}}" placement="top" [adaptivePosition]="false" [delay]="500">
                  <small >
                     {{ servico.descricao }}
                  </small>
                </p>
                <small class="form-label fw-bold">Periodicidade</small>
                <p  class="form-label fw-lighter lh-sm text-truncate">
                  <small>{{servico.periodicidade}}</small>
                </p>
                <div class=" mt-2">
                  <button type="button" class="btn btn-sm btn-outline-primary rounded-lg mr-1" (click)="logsExecucaoServicoOnClick(servico)" >Logs</button>
                  <button type="button"  class="btn btn-sm btn-outline-danger rounded-lg mr-1" [ngClass]="{'disabled': servico.erro === false}"  (click)="logsErroServicoOnClick(servico)">
                    Erros
                    <i>
                      <span class="badge badge-danger" style="color: white"> {{ servico.quantidadeErros }} </span>
                    </i>
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-secondary rounded-lg mr-1" (click)="configuracoesOnClick(servico)">Editar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- <div class="d-flex flex-column" style="height: 100%; margin-top: 3%;" >
      <div class="container-fluid" >
        <div class="card shadow-sm mb-3">
          <div class="card-body">
            <form [formGroup]="filtroServico" class="form" (ngSubmit)="filtra()" >
              <div  class="form-group row">
                <div class="col-md-4 mb-4">
                  <label>Nome do Serviço</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="nomeArgument"
                    placeholder="Ex: AtualizaAndamentosBigData"
                  />
                </div>

                <div class="col-md-4 mb-4">
                  <label> Status do Serviço </label>
                  <select
                    id="statusServico"
                    class="form-control"
                    formControlName="statusServico"
                  >
                    <option value="" selected>Ambos</option>
                    <option value="ativo" selected>Ativo</option>
                    <option value="inativo">Inativo</option>
                  </select>
                </div>

                <div class="col-md-4 mb-4">
                  <label> Erros </label>
                  <select id="statusErro" class="form-control" formControlName="erro">
                    <option value="" selected>Ambos</option>
                    <option value="sim">Sim</option>
                    <option value="nao">Não</option>
                  </select>
                </div>
              </div>


              <div class="d-flex justify-content-end">
                <button type="submit" style="margin: 1%; width: 200px;" class="btn btn-info"> Buscar </button>

                <button type="button" style="margin: 1%; width: 200px;" (click)="servicosRodando()" class="btn btn-secondary" >
                  Serviços Rodando
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="card shadow-sm">
          <div class="card-body">
              <div class="table-responsive">
                <table class="table align-middle">
                  <thead>
                    <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Status</th>
                      <th scope="col" style="width: 15%" class="text-center">
                        <a>Dt. Ultima Execução</a>
                      </th>
                      <th scope="col" style="width: 15%" class="text-center">
                        <a>Execuções</a>
                      </th>
                      <th scope="col" style="width: 13%" class="text-center">
                        <a>Erros</a>
                      </th>
                      <th scope="col" class="text-center"><a>Configurações</a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of servicosShare">
                      <td>{{ item.nomeArgument }}</td>
                      <td>
                        <span
                          class="badge badge-success badge-primary"
                          *ngIf="item.ativo == true"
                          >Ativo</span
                        >
                        <span class="badge badge-danger" *ngIf="item.ativo == false"
                          >Inativo</span
                        >
                      </td>
                      <td class="text-center">{{ item.dataInicio }}</td>
                      <td class="text-center">
                        <button
                          type="button"
                          class="btn btn-info btn-sm"
                          (click)="logsExecucaoServicoOnClick(item)"
                        >
                          <i>Execuções</i>
                        </button>
                      </td>
                      <td class="text-center">
                        <span style="color: #28a745; font-size: 25px;"  *ngIf="item.erro === false" class="material-icons">check_circle</span>
                        <button
                          *ngIf="item.erro === true"
                          type="button"
                          class="btn btn-danger btn-sm"
                          (click)="logsErroServicoOnClick(item)"
                        >
                          <i
                            >Visualizar
                            <span class="badge badge-light" style="color: black">{{
                              item.quantidadeErros
                            }}</span></i
                          >
                        </button>
                      </td>
                      <td class="text-center">
                        <button
                          class="btn btn-outline-dark"
                          (click)="configuracoesOnClick(item)"
                        >
                          <i class="fas fa-cog"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div> -->

  </mat-sidenav-content>
</mat-sidenav-container>
