/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "~bootstrap/scss/bootstrap.scss";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.background1{
  background-color:  #2196f3 blue;
}

.container{
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}


.modal-logExecucao{
  max-width: 80%;
}

.modal-alteraSevico{
  max-width: 50%;
}


/* SWAL2 ------------------------------------------ */
.swal2-height-auto {
  padding-right: 0 !important;
}


/*  --------BUTTON-------- */

.btn-info  {
  color: #fff !important;
}

// .btn-outline-info  {
//   color: #fff !important;
// }

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}

.badge {
  font-family: Arial,Helvetica,sans-serif!important;
  font-size: 11px!important;
}
